$primary: #636EDF;
$primary_hover: #5963C8;
$text: #484848;
$text_light: #888888;
$accent: rgb(108 117 125);
$border: #DFDEE5;
$background: #FFFFFF;
$background_light: #F2F1F6;
$gradiant: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%); // Blue gradient
$white : #fff;
$dark-blue : #00032a;