@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

$monaSans-Light: "Mona Sans", sans-serif;
$monaSans-Regular: "Mona Sans", sans-serif;
$monaSans-Medium: "Mona Sans", sans-serif;
$monaSans-SemiBold: "Mona Sans", sans-serif;
$monaSans-Bold: "Mona Sans", sans-serif;
